**IMPORTACIÓN DE LIBRERIAS ÚTILES PARA TODO EL CICLO**

In [1]:
#COMANDOS INICIALES
# pip install pandas
# pip install numpy
# pip install nltk

In [2]:
import numpy as np
import pandas as pd
import ast
import gzip
import json
import os
import ast
from pandas.io.parquet import to_parquet

**Carga y Limpieza de Datos**

In [3]:
# Creamos funciones para cargar datos desde el archivo comprimido JSON
def load_data_json1(archivo):
    data = []
    with gzip.open(archivo, 'rt', encoding='utf-8') as file:
        for line in file:
            data.append(ast.literal_eval(line.strip()))
    return data

def load_data_json2(archivo):
    data = []
    with gzip.open(archivo, 'rt', encoding='utf-8') as file:
        for line in file:
            data.append(json.loads(line))
    return data

In [4]:
# Directorio de datos
data_directory = os.getcwd()

# Nombres de los archivos
archivo1 = os.path.join(data_directory, 'users_items.json.gz')
archivo2 = os.path.join(data_directory, 'user_reviews.json.gz')
archivo3 = os.path.join(data_directory, 'steam_games.json.gz')

# Carga de datos
data1 = load_data_json1(archivo1)
df_item = pd.DataFrame(data1)
df_item.info()

data2 = load_data_json1(archivo2)
df_review = pd.DataFrame(data2)
df_review.info()

data3 = load_data_json2(archivo3)
df_games = pd.DataFrame(data3)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24083 non-null  object
 1   genres        28852 non-null  object
 2   app_name      32133 non-null  object
 3   title         30085 non-null  object
 4   url           32135 non-null  object
 5   release_date  30068 non-null  object
 6   tags          31972 non-null  object
 7   reviews_url   32133 non-null  object
 8   specs         31465 non-null  object
 9   price         30758 non-null  object
 10  early_access  32135 non-null  object
 11  id            32133 non-null  object
 12  developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [5]:
# Limpiando Nulos
# Limpiando el DF - df_item
df_item_clean = df_item.dropna()

# Limpiando el DF - df_review
df_review_clean = df_review.dropna()

# Limpiando el DF - df_games
df_games_clean = df_games.dropna()

In [6]:
# Validacion
#df_item_clean.head()
#df_review_clean.head()
df_games_clean.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd

**DESANIDADO DE TABLAS**

-> Desanidando campos anidados para 'users_items.json'

In [7]:
df_item_clean

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [8]:
# Revisando data del DF
df_item_clean.isna().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [9]:
# Revisando el contenido de una celda
contenido = df_item_clean.iloc[0, df_item_clean.columns.get_loc("items")]
print(contenido)

[{'item_id': '10', 'item_name': 'Counter-Strike', 'playtime_forever': 6, 'playtime_2weeks': 0}, {'item_id': '20', 'item_name': 'Team Fortress Classic', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '30', 'item_name': 'Day of Defeat', 'playtime_forever': 7, 'playtime_2weeks': 0}, {'item_id': '40', 'item_name': 'Deathmatch Classic', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '50', 'item_name': 'Half-Life: Opposing Force', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '60', 'item_name': 'Ricochet', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '70', 'item_name': 'Half-Life', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '130', 'item_name': 'Half-Life: Blue Shift', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '300', 'item_name': 'Day of Defeat: Source', 'playtime_forever': 4733, 'playtime_2weeks': 0}, {'item_id': '240', 'item_name': 'Counter-Strike: Source', 'playtime_forever': 1853, 'playtime_2weeks': 0}, {'item_id': '3830', 'item_name': 'Psychonauts', 'playtime_forever': 333, 'playtime_2weeks': 0}, {'item_id': '2630', 'item_name': 'Call of Duty 2', 'playtime_forever': 75, 'playtime_2weeks': 0}, {'item_id': '3900', 'item_name': "Sid Meier's Civilization IV", 'playtime_forever': 338, 'playtime_2weeks': 0}, {'item_id': '34440', 'item_name': "Sid Meier's Civilization IV", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '3920', 'item_name': "Sid Meier's Pirates!", 'playtime_forever': 2, 'playtime_2weeks': 0}, {'item_id': '6400', 'item_name': 'Joint Task Force', 'playtime_forever': 286, 'playtime_2weeks': 0}, {'item_id': '6910', 'item_name': 'Deus Ex: Game of the Year Edition', 'playtime_forever': 2685, 'playtime_2weeks': 0}, {'item_id': '7670', 'item_name': 'BioShock', 'playtime_forever': 633, 'playtime_2weeks': 0}, {'item_id': '409710', 'item_name': 'BioShock Remastered', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '220', 'item_name': 'Half-Life 2', 'playtime_forever': 696, 'playtime_2weeks': 0}, {'item_id': '320', 'item_name': 'Half-Life 2: Deathmatch', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '340', 'item_name': 'Half-Life 2: Lost Coast', 'playtime_forever': 37, 'playtime_2weeks': 0}, {'item_id': '360', 'item_name': 'Half-Life Deathmatch: Source', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '380', 'item_name': 'Half-Life 2: Episode One', 'playtime_forever': 168, 'playtime_2weeks': 0}, {'item_id': '400', 'item_name': 'Portal', 'playtime_forever': 173, 'playtime_2weeks': 0}, {'item_id': '420', 'item_name': 'Half-Life 2: Episode Two', 'playtime_forever': 323, 'playtime_2weeks': 0}, {'item_id': '9340', 'item_name': 'Company of Heroes: Opposing Fronts', 'playtime_forever': 692, 'playtime_2weeks': 0}, {'item_id': '228200', 'item_name': 'Company of Heroes (New Steam Version)', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '11450', 'item_name': 'Overlord', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '7940', 'item_name': 'Call of Duty 4: Modern Warfare', 'playtime_forever': 1185, 'playtime_2weeks': 0}, {'item_id': '4700', 'item_name': 'Medieval II: Total War', 'playtime_forever': 477, 'playtime_2weeks': 0}, {'item_id': '12900', 'item_name': 'Audiosurf', 'playtime_forever': 115, 'playtime_2weeks': 0}, {'item_id': '13250', 'item_name': 'Unreal Gold', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '16100', 'item_name': 'Virtual Villagers: A New Home', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15700', 'item_name': "Oddworld: Abe's Oddysee", 'playtime_forever': 28, 'playtime_2weeks': 0}, {'item_id': '15710', 'item_name': "Oddworld: Abe's Exoddus", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '17330', 'item_name': 'Crysis Warhead', 'playtime_forever': 31, 'playtime_2weeks': 0}, {'item_id': '17340', 'item_name': 'Crysis Wars', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '22000', 'item_name': 'World of Goo', 'playtime_forever': 195, 'playtime_2weeks': 0}, {'item_id': '500', 'item_name': 'Left 4 Dead', 'playtime_forever': 513, 'playtime_2weeks': 0}, {'item_id': '4560', 'item_name': 'Company of Heroes', 'playtime_forever': 1061, 'playtime_2weeks': 0}, {'item_id': '17460', 'item_name': 'Mass Effect', 'playtime_forever': 1613, 'playtime_2weeks': 0}, {'item_id': '10500', 'item_name': 'Empire: Total War', 'playtime_forever': 186, 'playtime_2weeks': 0}, {'item_id': '24740', 'item_name': 'Burnout Paradise: The Ultimate Box', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '22200', 'item_name': 'Zeno Clash', 'playtime_forever': 271, 'playtime_2weeks': 0}, {'item_id': '26800', 'item_name': 'Braid', 'playtime_forever': 445, 'playtime_2weeks': 0}, {'item_id': '1250', 'item_name': 'Killing Floor', 'playtime_forever': 10006, 'playtime_2weeks': 0}, {'item_id': '35420', 'item_name': 'Killing Floor Mod: Defence Alliance 2', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '3590', 'item_name': 'Plants vs. Zombies: Game of the Year', 'playtime_forever': 4413, 'playtime_2weeks': 0}, {'item_id': '8880', 'item_name': 'Freedom Force', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8890', 'item_name': 'Freedom Force vs. the 3rd Reich', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '23120', 'item_name': 'Droplitz', 'playtime_forever': 53, 'playtime_2weeks': 0}, {'item_id': '35700', 'item_name': 'Trine', 'playtime_forever': 199, 'playtime_2weeks': 0}, {'item_id': '10140', 'item_name': '3D Ultra Minigolf Adventures Deluxe', 'playtime_forever': 25, 'playtime_2weeks': 0}, {'item_id': '35010', 'item_name': 'Batman: Arkham Asylum', 'playtime_forever': 570, 'playtime_2weeks': 0}, {'item_id': '35140', 'item_name': 'Batman: Arkham Asylum GOTY Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '29180', 'item_name': 'Osmos', 'playtime_forever': 940, 'playtime_2weeks': 0}, {'item_id': '15520', 'item_name': 'AaAaAA!!! - A Reckless Disregard for Gravity', 'playtime_forever': 110, 'playtime_2weeks': 0}, {'item_id': '32370', 'item_name': 'STAR WARS™: Knights of the Old Republic™', 'playtime_forever': 5, 'playtime_2weeks': 0}, {'item_id': '37700', 'item_name': 'Darkest of Days', 'playtime_forever': 782, 'playtime_2weeks': 0}, {'item_id': '6020', 'item_name': 'STAR WARS™ Jedi Knight: Jedi Academy™', 'playtime_forever': 77, 'playtime_2weeks': 0}, {'item_id': '24860', 'item_name': 'Battlefield 2', 'playtime_forever': 437, 'playtime_2weeks': 0}, {'item_id': '39530', 'item_name': 'Painkiller: Black Edition', 'playtime_forever': 503, 'playtime_2weeks': 0}, {'item_id': '550', 'item_name': 'Left 4 Dead 2', 'playtime_forever': 1474, 'playtime_2weeks': 0}, {'item_id': '223530', 'item_name': 'Left 4 Dead 2 Beta', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8980', 'item_name': 'Borderlands', 'playtime_forever': 3061, 'playtime_2weeks': 0}, {'item_id': '41500', 'item_name': 'Torchlight', 'playtime_forever': 536, 'playtime_2weeks': 0}, {'item_id': '20900', 'item_name': 'The Witcher: Enhanced Edition', 'playtime_forever': 139, 'playtime_2weeks': 0}, {'item_id': '10180', 'item_name': 'Call of Duty: Modern Warfare 2', 'playtime_forever': 1886, 'playtime_2weeks': 0}, {'item_id': '10190', 'item_name': 'Call of Duty: Modern Warfare 2 - Multiplayer', 'playtime_forever': 1784, 'playtime_2weeks': 0}, {'item_id': '17450', 'item_name': 'Dragon Age: Origins', 'playtime_forever': 4431, 'playtime_2weeks': 0}, {'item_id': '3170', 'item_name': "King's Bounty: Armored Princess", 'playtime_forever': 1021, 'playtime_2weeks': 0}, {'item_id': '25900', 'item_name': "King's Bounty: The Legend", 'playtime_forever': 1389, 'playtime_2weeks': 0}, {'item_id': '31410', 'item_name': 'Zombie Driver', 'playtime_forever': 95, 'playtime_2weeks': 0}, {'item_id': '24980', 'item_name': 'Mass Effect 2', 'playtime_forever': 5001, 'playtime_2weeks': 0}, {'item_id': '8850', 'item_name': 'BioShock 2', 'playtime_forever': 1504, 'playtime_2weeks': 0}, {'item_id': '409720', 'item_name': 'BioShock 2 Remastered', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '46000', 'item_name': 'Bob Came in Pieces', 'playtime_forever': 11, 'playtime_2weeks': 0}, {'item_id': '33230', 'item_name': "Assassin's Creed II", 'playtime_forever': 1636, 'playtime_2weeks': 0}, {'item_id': '20820', 'item_name': 'Shatter', 'playtime_forever': 46, 'playtime_2weeks': 0}, {'item_id': '47700', 'item_name': 'Command and Conquer 4: Tiberian Twilight', 'playtime_forever': 85, 'playtime_2weeks': 0}, {'item_id': '24960', 'item_name': 'Battlefield: Bad Company 2', 'playtime_forever': 5716, 'playtime_2weeks': 0}, {'item_id': '43110', 'item_name': 'Metro 2033', 'playtime_forever': 834, 'playtime_2weeks': 0}, {'item_id': '8190', 'item_name': 'Just Cause 2', 'playtime_forever': 3083, 'playtime_2weeks': 0}, {'item_id': '49600', 'item_name': 'Beat Hazard', 'playtime_forever': 127, 'playtime_2weeks': 0}, {'item_id': '31220', 'item_name': 'Sam & Max 301: The Penal Zone', 'playtime_forever': 71, 'playtime_2weeks': 0}, {'item_id': '31230', 'item_name': 'Sam & Max 302: The Tomb of Sammun-Mak', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31240', 'item_name': "Sam & Max 303: They Stole Max's Brain!", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31250', 'item_name': 'Sam & Max 304: Beyond the Alley of the Dolls', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31260', 'item_name': 'Sam & Max 305: The City that Dares not Sleep', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '21090', 'item_name': 'F.E.A.R.', 'playtime_forever': 585, 'playtime_2weeks': 0}, {'item_id': '21110', 'item_name': 'F.E.A.R.: Extraction Point', 'playtime_forever': 146, 'playtime_2weeks': 0}, {'item_id': '21120', 'item_name': 'F.E.A.R.: Perseus Mandate', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '49400', 'item_name': 'Magic: The Gathering - Duels of the Planeswalkers', 'playtime_forever': 32, 'playtime_2weeks': 0}, {'item_id': '33910', 'item_name': 'Arma 2', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '33930', 'item_name': 'Arma 2: Operation Arrowhead', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '219540', 'item_name': 'Arma 2: Operation Arrowhead Beta (Obsolete)', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '17410', 'item_name': "Mirror's Edge", 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '205790', 'item_name': 'Dota 2 Test', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '50130', 'item_name': 'Mafia II', 'playtime_forever': 707, 'playtime_2weeks': 0}, {'item_id': '62100', 'item_name': 'Chime', 'playtime_forever': 50, 'playtime_2weeks': 0}, {'item_id': '31280', 'item_name': 'Poker Night at the Inventory', 'playtime_forever': 206, 'playtime_2weeks': 0}, {'item_id': '57300', 'item_name': 'Amnesia: The Dark Descent', 'playtime_forever': 12, 'playtime_2weeks': 0}, {'item_id': '21970', 'item_name': 'R.U.S.E', 'playtime_forever': 64, 'playtime_2weeks': 0}, {'item_id': '8930', 'item_name': "Sid Meier's Civilization V", 'playtime_forever': 10345, 'playtime_2weeks': 0}, {'item_id': '41000', 'item_name': 'Serious Sam HD: The First Encounter', 'playtime_forever': 369, 'playtime_2weeks': 0}, {'item_id': '41050', 'item_name': 'Serious Sam Classic: The First Encounter', 'playtime_forever': 76, 'playtime_2weeks': 0}, {'item_id': '41060', 'item_name': 'Serious Sam Classic: The Second Encounter', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '227780', 'item_name': 'Serious Sam Classics: Revolution', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '18040', 'item_name': 'DeathSpank', 'playtime_forever': 594, 'playtime_2weeks': 0}, {'item_id': '22380', 'item_name': 'Fallout: New Vegas', 'playtime_forever': 43, 'playtime_2weeks': 0}, {'item_id': '42700', 'item_name': 'Call of Duty: Black Ops', 'playtime_forever': 966, 'playtime_2weeks': 0}, {'item_id': '42710', 'item_name': 'Call of Duty: Black Ops - Multiplayer', 'playtime_forever': 2452, 'playtime_2weeks': 0}, {'item_id': '62000', 'item_name': 'Flight Control HD', 'playtime_forever': 25, 'playtime_2weeks': 0}, {'item_id': '40800', 'item_name': 'Super Meat Boy', 'playtime_forever': 119, 'playtime_2weeks': 0}, {'item_id': '9500', 'item_name': 'Gish', 'playtime_forever': 6, 'playtime_2weeks': 0}, {'item_id': '18700', 'item_name': 'And Yet It Moves', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '31270', 'item_name': 'Puzzle Agent', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '58200', 'item_name': 'Jolly Rover', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '70400', 'item_name': "Recettear: An Item Shop's Tale", 'playtime_forever': 537, 'playtime_2weeks': 0}, {'item_id': '41300', 'item_name': 'Altitude', 'playtime_forever': 50, 'playtime_2weeks': 0}, {'item_id': '41800', 'item_name': 'Gratuitous Space Battles', 'playtime_forever': 149, 'playtime_2weeks': 0}, {'item_id': '42500', 'item_name': 'DogFighter', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '49900', 'item_name': 'Plain Sight', 'playtime_forever': 23, 'playtime_2weeks': 0}, {'item_id': '55000', 'item_name': 'Flotilla', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '34330', 'item_name': 'Total War: SHOGUN 2', 'playtime_forever': 1538, 'playtime_2weeks': 0}, {'item_id': '63200', 'item_name': 'Monday Night Combat', 'playtime_forever': 573, 'playtime_2weeks': 0}, {'item_id': '99810', 'item_name': 'Bulletstorm', 'playtime_forever': 2, 'playtime_2weeks': 0}, {'item_id': '620', 'item_name': 'Portal 2', 'playtime_forever': 887, 'playtime_2weeks': 0}, {'item_id': '42910', 'item_name': 'Magicka', 'playtime_forever': 588, 'playtime_2weeks': 0}, {'item_id': '15500', 'item_name': 'The Wonderful End of the World', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15540', 'item_name': '1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby)', 'playtime_forever': 4, 'playtime_2weeks': 0}, {'item_id': '18500', 'item_name': 'Defense Grid: The Awakening', 'playtime_forever': 126, 'playtime_2weeks': 0}, {'item_id': '26500', 'item_name': 'Cogs', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '35460', 'item_name': 'The Ball', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '38700', 'item_name': 'Toki Tori', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '38720', 'item_name': 'RUSH', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '63700', 'item_name': 'BIT.TRIP BEAT', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '280', 'item_name': 'Half-Life: Source', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '20920', 'item_name': 'The Witcher 2: Assassins of Kings Enhanced Edition', 'playtime_forever': 1343, 'playtime_2weeks': 0}, {'item_id': '105600', 'item_name': 'Terraria', 'playtime_forever': 772, 'playtime_2weeks': 0}, {'item_id': '98200', 'item_name': 'Frozen Synapse', 'playtime_forever': 9, 'playtime_2weeks': 0}, {'item_id': '4500', 'item_name': 'S.T.A.L.K.E.R.: Shadow of Chernobyl', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '4540', 'item_name': 'Titan Quest', 'playtime_forever': 3, 'playtime_2weeks': 0}, {'item_id': '4550', 'item_name': 'Titan Quest: Immortal Throne', 'playtime_forever': 76, 'playtime_2weeks': 0}, {'item_id': '9480', 'item_name': 'Saints Row 2', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '15620', 'item_name': 'Warhammer® 40,000™: Dawn of War® II', 'playtime_forever': 2085, 'playtime_2weeks': 0}, {'item_id': '20500', 'item_name': 'Red Faction: Guerrilla Steam Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '20570', 'item_name': 'Warhammer® 40,000™: Dawn of War® II - Chaos Rising™', 'playtime_forever': 69, 'playtime_2weeks': 0}, {'item_id': '50620', 'item_name': 'Darksiders', 'playtime_forever': 101, 'playtime_2weeks': 0}, {'item_id': '55100', 'item_name': 'Homefront', 'playtime_forever': 51, 'playtime_2weeks': 0}, {'item_id': '55140', 'item_name': 'MX vs. ATV Reflex', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '56400', 'item_name': 'Warhammer® 40,000™: Dawn of War® II – Retribution™', 'playtime_forever': 678, 'playtime_2weeks': 0}, {'item_id': '475150', 'item_name': 'Titan Quest Anniversary Edition', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '96100', 'item_name': 'Defy Gravity', 'playtime_forever': 9, 'playtime_2weeks': 0}, {'item_id': '35450', 'item_name': 'Rising Storm/Red Orchestra 2 Multiplayer', 'playtime_forever': 14194, 'playtime_2weeks': 0}, {'item_id': '236830', 'item_name': 'Red Orchestra 2: Heroes of Stalingrad - Single Player', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '72850', 'item_name': 'The Elder Scrolls V: Skyrim', 'playtime_forever': 2512, 'playtime_2weeks': 0}, {'item_id': '107100', 'item_name': 'Bastion', 'playtime_forever': 640, 'playtime_2weeks': 0}, {'item_id': '57690', 'item_name': 'Tropico 4', 'playtime_forever': 1815, 'playtime_2weeks': 0}, {'item_id': '91310', 'item_name': 'Dead Island', 'playtime_forever': 2078, 'playtime_2weeks': 0}, {'item_id': '113200', 'item_name': 'The Binding of Isaac', 'playtime_forever': 1494, 'playtime_2weeks': 0}, {'item_id': '65800', 'item_name': 'Dungeon Defenders', 'playtime_forever': 130, 'playtime_2weeks': 0}, {'item_id': '9200', 'item_name': 'RAGE', 'playtime_forever': 653, 'playtime_2weeks': 0}, {'item_id': '41070', 'item_name': 'Serious Sam 3: BFE', 'playtime_forever': 716, 'playtime_2weeks': 0}, {'item_id': '48950', 'item_name': 'Greed Corp', 'playtime_forever': 72, 'playtime_2weeks': 0}, {'item_id': '92800', 'item_name': 'SpaceChem', 'playtime_forever': 262, 'playtime_2weeks': 0}, {'item_id': '104700', 'item_name': 'Super Monday Night Combat', 'playtime_forever': 44, 'playtime_2weeks': 0}, {'item_id': '203770', 'item_name': 'Crusader Kings II', 'playtime_forever': 18, 'playtime_2weeks': 0}, {'item_id': '203810', 'item_name': 'Dear Esther', 'playtime_forever': 86, 'playtime_2weeks': 0}, {'item_id': '110800', 'item_name': 'L.A. Noire', 'playtime_forever': 1204, 'playtime_2weeks': 0}, {'item_id': '207610', 'item_name': 'The Walking Dead', 'playtime_forever': 798, 'playtime_2weeks': 0}, {'item_id': '98300', 'item_name': 'Toy Soldiers', 'playtime_forever': 110, 'playtime_2weeks': 0}, {'item_id': '50300', 'item_name': 'Spec Ops: The Line', 'playtime_forever': 296, 'playtime_2weeks': 0}, {'item_id': '204300', 'item_name': 'Awesomenauts', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '1700', 'item_name': 'Arx Fatalis', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '205100', 'item_name': 'Dishonored', 'playtime_forever': 1429, 'playtime_2weeks': 0}, {'item_id': '211120', 'item_name': 'The Political Machine', 'playtime_forever': 1, 'playtime_2weeks': 0}, {'item_id': '730', 'item_name': 'Counter-Strike: Global Offensive', 'playtime_forever': 23532, 'playtime_2weeks': 0}, {'item_id': '49520', 'item_name': 'Borderlands 2', 'playtime_forever': 1303, 'playtime_2weeks': 0}, {'item_id': '200260', 'item_name': 'Batman: Arkham City GOTY', 'playtime_forever': 100, 'playtime_2weeks': 0}, {'item_id': '212680', 'item_name': 'FTL: Faster Than Light', 'playtime_forever': 500, 'playtime_2weeks': 0}, {'item_id': '200710', 'item_name': 'Torchlight II', 'playtime_forever': 459, 'playtime_2weeks': 0}, {'item_id': '219150', 'item_name': 'Hotline Miami', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '215510', 'item_name': 'Rocketbirds: Hardboiled Chicken', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '8870', 'item_name': 'BioShock Infinite', 'playtime_forever': 2084, 'playtime_2weeks': 0}, {'item_id': '200510', 'item_name': 'XCOM: Enemy Unknown', 'playtime_forever': 3478, 'playtime_2weeks': 0}, {'item_id': '220240', 'item_name': 'Far Cry® 3', 'playtime_forever': 182, 'playtime_2weeks': 0}, {'item_id': '218680', 'item_name': 'Scribblenauts Unlimited', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '228280', 'item_name': "Baldur's Gate: Enhanced Edition", 'playtime

In [10]:
# Análisis de DF
df_item_clean.isna().sum()

user_id        0
items_count    0
steam_id       0
user_url       0
items          0
dtype: int64

In [11]:
# Generación de una copia para trabajar en ella
df_item_clean_expand = df_item_clean.copy()
df_item_clean_expand = pd.DataFrame(df_item_clean_expand)

In [12]:
# Revisión del nuevo DF
df_item_clean_expand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [13]:
# DESANIDADO DEL DF
# Se genera una lista vacía la cual almacenará las filas que generemos
new_rows = []

# Creamos un for que itere a través de las filas del DataFrame original
for index, row in df_item_clean.iterrows():
    user_id = row['user_id']
    lista_reviews = row['items']
    
    # Creamos un for que itere a través de la lista generada
    for diccionario in lista_reviews:
        new_row = {'user_id': user_id, **diccionario}
        new_rows.append(new_row)

# Se genera un nuevo DF con las filas que obtuvimos
df_item_clean_expand = pd.DataFrame(new_rows)

In [14]:
#Visualización del DF obtenido
df_item_clean_expand

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

-> Desanidando campos anidados para 'users_reviews.json'

In [15]:
df_review_clean

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [16]:
# Revisando data del DF
df_review_clean.isna().sum()

user_id     0
user_url    0
reviews     0
dtype: int64

In [17]:
# Generación de una copia para trabajar en ella
df_review_clean_expand = df_review_clean.copy()
df_review_clean_expand = pd.DataFrame(df_review_clean_expand)

In [18]:
# Revisión del nuevo DF
df_review_clean_expand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25799 entries, 0 to 25798
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   25799 non-null  object
 1   user_url  25799 non-null  object
 2   reviews   25799 non-null  object
dtypes: object(3)
memory usage: 604.8+ KB

In [19]:
# DESANIDADO DEL DF
# Se genera una lista vacía la cual almacenará las filas que generemos
new_rows = []

# Creamos un for que itere a través de las filas del DataFrame original
for index, row in df_review_clean.iterrows():
    user_id = row['user_id']
    lista_reviews = row['reviews']
    
    # Creamos un for que itere a través de la lista generada
    for diccionario in lista_reviews:
        new_row = {'user_id': user_id, **diccionario}
        new_rows.append(new_row)

# Se genera un nuevo DF con las filas que obtuvimos
df_review_clean_expand = pd.DataFrame(new_rows)

In [20]:
#Visualización del DF obtenido
df_review_clean_expand

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...
59300,76561198312638244,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
59301,76561198312638244,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
59302,LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
59304,LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

**PREPARACIÓN DE DATOS PARA USO EN APIs**

-> Para 'steam_games.json'

In [11]:
# Visualización del DF Base
df_games_clean

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,False,761140,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,False,643980,Secret Level SRL
88312,Poolians.com,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free to Play,False,670290,Poolians.com
88313,彼岸领域,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,[Single-player],0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"[Action, Adventure, Simulation, FPS, Shooter, ...",http://steamcommunity.com/app/772540/reviews/?...,"[Single-player, Steam Achievements]",3.99,False,772540,Trickjump Games Ltd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,http://store.steampowered.com/app/745400/Kebab...,2018-01-04,"[Action, Indie, Casual, Violent, Adventure]",http://steamcommunity.com/app/745400/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",1.99,False,745400,Bidoniera Games
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"

In [12]:
# Generamos un nuevo DF con los datos relevantes
df_games_review = df_games_clean[['id','genres','title','release_date']]
df_games_review.reset_index(drop=True, inplace=True)
df_games_review

,id,genres,title,release_date
0,761140,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04
1,643980,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04
2,670290,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24
3,767400,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07
4,772540,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04
...,...,...,...,...
22525,745400,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018-01-04
22526,773640,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04
22527,733530,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04
22528,610660,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04
22529,658870,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02

In [13]:
# Convertimos la columna 'release_date' a formato Date
df_games_review['release_date'] = df_games_review['release_date'].apply(lambda x: pd.to_datetime(x, errors='coerce'))

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1107849770.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_review['release_date'] = df_games_review['release_date'].apply(lambda x: pd.to_datetime(x, errors='coerce'))

In [14]:
# Creamos la columna 'year_release' que mostrará el año de la columna 'release_date' y visualizamos el DF
df_games_review['year_release'] = df_games_review['release_date'].dt.strftime('%Y')
df_games_review

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1784546221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_review['year_release'] = df_games_review['release_date'].dt.strftime('%Y')

,id,genres,title,release_date,year_release
0,761140,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,2018-01-04,2018
1,643980,"[Free to Play, Indie, RPG, Strategy]",Ironbound,2018-01-04,2018
2,670290,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,2017-07-24,2017
3,767400,"[Action, Adventure, Casual]",弹炸人2222,2017-12-07,2017
4,772540,"[Action, Adventure, Simulation]",Battle Royale Trainer,2018-01-04,2018
...,...,...,...,...,...
22525,745400,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018-01-04,2018
22526,773640,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,2018
22527,733530,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,2018
22528,610660,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,2018
22529,658870,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,2017

In [15]:
#Borramos la columna de 'release_date'
df_games_review = df_games_review.drop('release_date', axis=1)

In [16]:
#Expandimos la columna 'genres' del DF
df_games_review = df_games_review.explode('genres')
df_games_review.reset_index(drop=True, inplace=True)

In [17]:
# Visualizamos el DF
df_games_review

           id      genres                title year_release
0      761140      Action  Lost Summoner Kitty         2018
1      761140      Casual  Lost Summoner Kitty         2018
2      761140       Indie  Lost Summoner Kitty         2018
3      761140  Simulation  Lost Summoner Kitty         2018
4      761140    Strategy  Lost Summoner Kitty         2018
...       ...         ...                  ...          ...
55607  610660       Indie        Russian Roads         2018
55608  610660      Racing        Russian Roads         2018
55609  610660  Simulation        Russian Roads         2018
55610  658870      Casual  EXIT 2 - Directions         2017
55611  658870       Indie  EXIT 2 - Directions         2017

[55612 rows x 4 columns]

In [18]:
# Renombramos algunas columnas para un mejor uso y visualizamos el resultado
df_games_review.rename(columns={'id':'item_id'}, inplace=True)
df_games_review.rename(columns={'title':'game_name'}, inplace=True)
df_games_review.rename(columns={'genres':'game_genre'}, inplace=True)
df_games_review

      item_id  game_genre            game_name year_release
0      761140      Action  Lost Summoner Kitty         2018
1      761140      Casual  Lost Summoner Kitty         2018
2      761140       Indie  Lost Summoner Kitty         2018
3      761140  Simulation  Lost Summoner Kitty         2018
4      761140    Strategy  Lost Summoner Kitty         2018
...       ...         ...                  ...          ...
55607  610660       Indie        Russian Roads         2018
55608  610660      Racing        Russian Roads         2018
55609  610660  Simulation        Russian Roads         2018
55610  658870      Casual  EXIT 2 - Directions         2017
55611  658870       Indie  EXIT 2 - Directions         2017

[55612 rows x 4 columns]

In [19]:
# Borramos valores nulos o duplicados y visualizamos el resultado
df_games_review.drop_duplicates(inplace=True)
df_games_review.dropna(inplace=True)
df_games_review

      item_id  game_genre            game_name year_release
0      761140      Action  Lost Summoner Kitty         2018
1      761140      Casual  Lost Summoner Kitty         2018
2      761140       Indie  Lost Summoner Kitty         2018
3      761140  Simulation  Lost Summoner Kitty         2018
4      761140    Strategy  Lost Summoner Kitty         2018
...       ...         ...                  ...          ...
55607  610660       Indie        Russian Roads         2018
55608  610660      Racing        Russian Roads         2018
55609  610660  Simulation        Russian Roads         2018
55610  658870      Casual  EXIT 2 - Directions         2017
55611  658870       Indie  EXIT 2 - Directions         2017

[55606 rows x 4 columns]

In [20]:
# Convertimos los datos de la columna 'item_id' y los de 'year_release' a numericos y reseteamos el índice
df_games_review['item_id'] = pd.to_numeric(df_games_review['item_id'])
df_games_review['year_release'] = pd.to_numeric(df_games_review['year_release'])
df_games_review.reset_index(drop=True, inplace=True)

In [21]:
# Convertimos todos los géneros a minúsculas
df_games_review['game_genre'] = df_games_review['game_genre'].str.lower()
df_games_review['game_name'] = df_games_review['game_name'].str.lower()

In [22]:
# Visualizamos el resultado del DF
df_games_review

       item_id  game_genre            game_name  year_release
0       761140      action  lost summoner kitty          2018
1       761140      casual  lost summoner kitty          2018
2       761140       indie  lost summoner kitty          2018
3       761140  simulation  lost summoner kitty          2018
4       761140    strategy  lost summoner kitty          2018
...        ...         ...                  ...           ...
55601   610660       indie        russian roads          2018
55602   610660      racing        russian roads          2018
55603   610660  simulation        russian roads          2018
55604   658870      casual  exit 2 - directions          2017
55605   658870       indie  exit 2 - directions          2017

[55606 rows x 4 columns]

In [39]:
# Generamos un nuevo DF para poder luego utilizarlo en las APIs y lo visualizamos
df_games_API = df_games_clean[['id','title','genres', 'tags', 'specs']]
df_games_API

,id,title,genres,tags,specs
88310,761140,Lost Summoner Kitty,"[Action, Casual, Indie, Simulation, Strategy]","[Strategy, Action, Indie, Casual, Simulation]",[Single-player]
88311,643980,Ironbound,"[Free to Play, Indie, RPG, Strategy]","[Free to Play, Strategy, Indie, RPG, Card Game...","[Single-player, Multi-player, Online Multi-Pla..."
88312,670290,Real Pool 3D - Poolians,"[Casual, Free to Play, Indie, Simulation, Sports]","[Free to Play, Simulation, Sports, Casual, Ind...","[Single-player, Multi-player, Online Multi-Pla..."
88313,767400,弹炸人2222,"[Action, Adventure, Casual]","[Action, Adventure, Casual]",[Single-player]
88315,772540,Battle Royale Trainer,"[Action, Adventure, Simulation]","[Action, Adventure, Simulation, FPS, Shooter, ...","[Single-player, Steam Achievements]"
...,...,...,...,...,...
120439,745400,Kebab it Up!,"[Action, Adventure, Casual, Indie]","[Action, Indie, Casual, Violent, Adventure]","[Single-player, Steam Achievements, Steam Cloud]"
120440,773640,Colony On Mars,"[Casual, Indie, Simulation, Strategy]","[Strategy, Indie, Casual, Simulation]","[Single-player, Steam Achievements]"
120441,733530,LOGistICAL: South Africa,"[Casual, Indie, Strategy]","[Strategy, Indie, Casual]","[Single-player, Steam Achievements, Steam Clou..."
120442,610660,Russian Roads,"[Indie, Racing, Simulation]","[Indie, Simulation, Racing]","[Single-player, Steam Achievements, Steam Trad..."
120443,658870,EXIT 2 - Directions,"[Casual, Indie]","[Indie, Casual, Puzzle, Singleplayer, Atmosphe...","[Single-player, Steam Achievements, Steam Cloud]"

In [40]:
# Desanidamos las listas que tenemos
df_games_API['genres'] = df_games_API['genres'].apply(lambda lista: ", ".join(lista))
df_games_API['tags'] = df_games_API['tags'].apply(lambda lista: ", ".join(lista))
df_games_API['specs'] = df_games_API['specs'].apply(lambda lista: ", ".join(lista))

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\2165860425.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API['genres'] = df_games_API['genres'].apply(lambda lista: ", ".join(lista))
C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\2165860425.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API['tags'] = df_games_API['tags'].apply(lambda lista: ", ".join(lista))
C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\2165860425.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API['specs'] = df_games_API['specs'].apply(lambda lista: ", ".join(lista))

In [41]:
# Unimos lo generado en una sola columna y visualizamos el DF
df_games_API['description'] = df_games_API['genres'] + ', ' + df_games_API['tags'] + ', ' + df_games_API['specs']
df_games_API

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1414193740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API['description'] = df_games_API['genres'] + ', ' + df_games_API['tags'] + ', ' + df_games_API['specs']

,id,title,genres,tags,specs,description
88310,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy","Strategy, Action, Indie, Casual, Simulation",Single-player,"Action, Casual, Indie, Simulation, Strategy, S..."
88311,643980,Ironbound,"Free to Play, Indie, RPG, Strategy","Free to Play, Strategy, Indie, RPG, Card Game,...","Single-player, Multi-player, Online Multi-Play...","Free to Play, Indie, RPG, Strategy, Free to Pl..."
88312,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Simulation, Sports","Free to Play, Simulation, Sports, Casual, Indi...","Single-player, Multi-player, Online Multi-Play...","Casual, Free to Play, Indie, Simulation, Sport..."
88313,767400,弹炸人2222,"Action, Adventure, Casual","Action, Adventure, Casual",Single-player,"Action, Adventure, Casual, Action, Adventure, ..."
88315,772540,Battle Royale Trainer,"Action, Adventure, Simulation","Action, Adventure, Simulation, FPS, Shooter, T...","Single-player, Steam Achievements","Action, Adventure, Simulation, Action, Adventu..."
...,...,...,...,...,...,...
120439,745400,Kebab it Up!,"Action, Adventure, Casual, Indie","Action, Indie, Casual, Violent, Adventure","Single-player, Steam Achievements, Steam Cloud","Action, Adventure, Casual, Indie, Action, Indi..."
120440,773640,Colony On Mars,"Casual, Indie, Simulation, Strategy","Strategy, Indie, Casual, Simulation","Single-player, Steam Achievements","Casual, Indie, Simulation, Strategy, Strategy,..."
120441,733530,LOGistICAL: South Africa,"Casual, Indie, Strategy","Strategy, Indie, Casual","Single-player, Steam Achievements, Steam Cloud...","Casual, Indie, Strategy, Strategy, Indie, Casu..."
120442,610660,Russian Roads,"Indie, Racing, Simulation","Indie, Simulation, Racing","Single-player, Steam Achievements, Steam Tradi...","Indie, Racing, Simulation, Indie, Simulation, ..."
120443,658870,EXIT 2 - Directions,"Casual, Indie","Indie, Casual, Puzzle, Singleplayer, Atmospher...","Single-player, Steam Achievements, Steam Cloud","Casual, Indie, Indie, Casual, Puzzle, Singlepl..."

In [42]:
# Borramos las columnas que consideremos no nos serán útiles, cambiamos nombres y visualizamos el DF
df_games_API.drop(columns=['genres', 'tags', 'specs'], inplace=True)
df_games_API.rename(columns={'title':'game_name'}, inplace=True)
df_games_API.rename(columns={'id':'item_id'}, inplace=True)
df_games_API

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1317142791.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API.drop(columns=['genres', 'tags', 'specs'], inplace=True)
C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1317142791.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API.rename(columns={'title':'game_name'}, inplace=True)
C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\1317142791.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API.rename(columns={'id':'item_id'}, inplace=True)

,item_id,game_name,description
88310,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy, S..."
88311,643980,Ironbound,"Free to Play, Indie, RPG, Strategy, Free to Pl..."
88312,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Simulation, Sport..."
88313,767400,弹炸人2222,"Action, Adventure, Casual, Action, Adventure, ..."
88315,772540,Battle Royale Trainer,"Action, Adventure, Simulation, Action, Adventu..."
...,...,...,...
120439,745400,Kebab it Up!,"Action, Adventure, Casual, Indie, Action, Indi..."
120440,773640,Colony On Mars,"Casual, Indie, Simulation, Strategy, Strategy,..."
120441,733530,LOGistICAL: South Africa,"Casual, Indie, Strategy, Strategy, Indie, Casu..."
120442,610660,Russian Roads,"Indie, Racing, Simulation, Indie, Simulation, ..."
120443,658870,EXIT 2 - Directions,"Casual, Indie, Indie, Casual, Puzzle, Singlepl..."

In [43]:
# Convertimos los datos de la columna 'item_id' a numericos, reseteamos el índice y visualizamos el DF
df_games_API['item_id'] = pd.to_numeric(df_games_API['item_id'])
df_games_API.reset_index(drop=True, inplace=True)
df_games_API

C:\Users\nacho\AppData\Local\Temp\ipykernel_10848\2783793484.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games_API['item_id'] = pd.to_numeric(df_games_API['item_id'])

,item_id,game_name,description
0,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy, S..."
1,643980,Ironbound,"Free to Play, Indie, RPG, Strategy, Free to Pl..."
2,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Simulation, Sport..."
3,767400,弹炸人2222,"Action, Adventure, Casual, Action, Adventure, ..."
4,772540,Battle Royale Trainer,"Action, Adventure, Simulation, Action, Adventu..."
...,...,...,...
22525,745400,Kebab it Up!,"Action, Adventure, Casual, Indie, Action, Indi..."
22526,773640,Colony On Mars,"Casual, Indie, Simulation, Strategy, Strategy,..."
22527,733530,LOGistICAL: South Africa,"Casual, Indie, Strategy, Strategy, Indie, Casu..."
22528,610660,Russian Roads,"Indie, Racing, Simulation, Indie, Simulation, ..."
22529,658870,EXIT 2 - Directions,"Casual, Indie, Indie, Casual, Puzzle, Singlepl..."

-> Para 'user_items.json'

In [38]:
# Visualización del DF Base
df_item_clean_expand

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10,Counter-Strike,6,0
1,76561197970982479,20,Team Fortress Classic,0,0
2,76561197970982479,30,Day of Defeat,7,0
3,76561197970982479,40,Deathmatch Classic,0,0
4,76561197970982479,50,Half-Life: Opposing Force,0,0
...,...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0,0
5153205,76561198329548331,373330,All Is Dust,0,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4,4
5153208,76561198329548331,519140,Minds Eyes,3,3

In [39]:
# Generamos un nuevo DF con los datos relevantes
df_item_APIs = df_item_clean_expand[['user_id', 'item_id', 'item_name', 'playtime_forever']]
df_item_APIs

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

In [40]:
# Borramos valores nulos o duplicados y visualizamos el resultado
df_item_APIs.drop_duplicates(inplace=True)
df_item_APIs.dropna(inplace=True)
df_item_APIs

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\3969755639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs.drop_duplicates(inplace=True)
C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\3969755639.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs.dropna(inplace=True)

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5153204,76561198329548331,346330,BrainBread 2,0
5153205,76561198329548331,373330,All Is Dust,0
5153206,76561198329548331,388490,One Way To Die: Steam Edition,3
5153207,76561198329548331,521570,You Have 10 Seconds 2,4
5153208,76561198329548331,519140,Minds Eyes,3

In [41]:
#Convertimos los datos de la columna 'item_id' a valores númericos para un mejor manejo de los mismos, reseteamos el índice y visualizamos el resultado
df_item_APIs['item_id'] = pd.to_numeric(df_item_APIs['item_id'])
df_item_APIs['playtime_forever'] = pd.to_numeric(df_item_APIs['playtime_forever'])
df_item_APIs.reset_index(drop=True, inplace=True)
df_item_APIs

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\3108383429.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs['item_id'] = pd.to_numeric(df_item_APIs['item_id'])
C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\3108383429.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs['playtime_forever'] = pd.to_numeric(df_item_APIs['playtime_forever'])

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6
1,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,30,Day of Defeat,7
3,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,50,Half-Life: Opposing Force,0
...,...,...,...,...
5094087,76561198329548331,346330,BrainBread 2,0
5094088,76561198329548331,373330,All Is Dust,0
5094089,76561198329548331,388490,One Way To Die: Steam Edition,3
5094090,76561198329548331,521570,You Have 10 Seconds 2,4
5094091,76561198329548331,519140,Minds Eyes,3

In [42]:
# Renombramos la columna 'item_name' a 'game_name'
df_item_APIs.rename(columns={'item_name':'game_name'}, inplace=True)

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\4188293772.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs.rename(columns={'item_name':'game_name'}, inplace=True)

In [43]:
# Eliminamos los datos que nos afecten a la hora de extraer valores por promedios, por cantidad, o por equivalencias de la columna a utilizar: 'playtime_forever', en pocas palabras, eliminamos los datos catálogados como: Outliers
# Para ello en primera instancia visualizaremos el promedio de tiempo de juego, y su desviación estándar
avg = df_item_APIs['playtime_forever'].mean()
std = df_item_APIs['playtime_forever'].std()
(avg - std, avg + std)

(-4423.595507720673, 6404.624290867896)

In [44]:
# Ahora si procemos a eliminar los mencionados Outliers
df_item_APIs = df_item_APIs[df_item_APIs['playtime_forever']<avg + std]

In [45]:
# Convertimos todos los géneros a minúsculas
df_item_APIs['game_name'] = df_item_APIs['game_name'].str.lower()

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\389281929.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_item_APIs['game_name'] = df_item_APIs['game_name'].str.lower()

In [46]:
# Visualizamos el resultado del DF
df_item_APIs

,user_id,item_id,game_name,playtime_forever
0,76561197970982479,10,counter-strike,6
1,76561197970982479,20,team fortress classic,0
2,76561197970982479,30,day of defeat,7
3,76561197970982479,40,deathmatch classic,0
4,76561197970982479,50,half-life: opposing force,0
...,...,...,...,...
5094087,76561198329548331,346330,brainbread 2,0
5094088,76561198329548331,373330,all is dust,0
5094089,76561198329548331,388490,one way to die: steam edition,3
5094090,76561198329548331,521570,you have 10 seconds 2,4
5094091,76561198329548331,519140,minds eyes,3

-> Para 'user_reviews.json'

In [47]:
# Visualización del DF Base
df_review_clean_expand

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...
59300,76561198312638244,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
59301,76561198312638244,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
59302,LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
59304,LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [48]:
# Generamos un nuevo DF con los datos relevantes
df_reviews_API = df_review_clean_expand[['user_id', 'posted', 'item_id', 'recommend', 'review']]
df_reviews_API.reset_index(drop=True, inplace=True)
df_reviews_API

,user_id,posted,item_id,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59300,76561198312638244,Posted July 10.,70,True,a must have classic from steam definitely wort...
59301,76561198312638244,Posted July 8.,362890,True,this game is a perfect remake of the original ...
59302,LydiaMorley,Posted July 3.,273110,True,had so much fun plaing this and collecting res...
59303,LydiaMorley,Posted July 20.,730,True,:D
59304,LydiaMorley,Posted July 2.,440,True,so much fun :D

In [49]:
# Convertimos los datos de la columna 'recommend' a enteros para un mejor manejo de los mismos, reseteamos el índice y visualizamos el resultado
df_reviews_API['recommend'] = df_reviews_API['recommend'].astype(int)

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\102471646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_API['recommend'] = df_reviews_API['recommend'].astype(int)

In [50]:
# Extramos 'Posted' de la columna con el mismo nombre para poder manipular mejor la información
df_reviews_API['posted'] = df_reviews_API['posted'].str.replace('Posted ', '')
df_reviews_API['posted'] = df_reviews_API['posted'].str.replace('.', '')

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\1148345960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_API['posted'] = df_reviews_API['posted'].str.replace('Posted ', '')
C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\1148345960.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_API['posted'] = df_reviews_API['posted'].str.replace('.', '')

In [51]:
# Realizamos el proceso de conversión de la columna a datos de fecha completa, ejemplo:AAA/MM/DD y visualizamos el DF
df_reviews_API = df_reviews_API[df_reviews_API['posted'].str.contains(',')]
df_reviews_API

,user_id,posted,item_id,recommend,review
0,76561197970982479,"November 5, 2011",1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,"July 15, 2011",22200,1,It's unique and worth a playthrough.
2,76561197970982479,"April 21, 2011",43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"June 24, 2014",251610,1,I know what you think when you see this title ...
4,js41637,"September 8, 2013",227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59252,wayfeng,"October 14, 2015",730,1,its FUNNNNNNNN
59255,76561198251004808,"October 10, 2015",253980,1,Awesome fantasy game if you don't mind the gra...
59265,72947282842,"October 31, 2015",730,1,Prettyy Mad Game
59267,ApxLGhost,"December 14, 2015",730,1,AMAZING GAME 10/10
59276,76561198267374962,"December 29, 2015",369200,1,Why I voted yes? 1. Girl characters have boobs...

In [52]:
# Convertimos los datos de la columna 'posted' a Date y visualizamos el DF
df_reviews_API['posted'] = pd.to_datetime(df_reviews_API['posted'], format='%B %d, %Y')
df_reviews_API

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\3699701618.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_API['posted'] = pd.to_datetime(df_reviews_API['posted'], format='%B %d, %Y')

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011-11-05,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011-07-15,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011-04-21,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014-06-24,251610,1,I know what you think when you see this title ...
4,js41637,2013-09-08,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59252,wayfeng,2015-10-14,730,1,its FUNNNNNNNN
59255,76561198251004808,2015-10-10,253980,1,Awesome fantasy game if you don't mind the gra...
59265,72947282842,2015-10-31,730,1,Prettyy Mad Game
59267,ApxLGhost,2015-12-14,730,1,AMAZING GAME 10/10
59276,76561198267374962,2015-12-29,369200,1,Why I voted yes? 1. Girl characters have boobs...

In [53]:
# Convertimos los datos a un formato que nos permita editar y extraer el año de la columna 'posted' y visualizamos el DF
df_reviews_API['posted'] = df_reviews_API['posted'].dt.strftime('%Y')
df_reviews_API

C:\Users\nacho\AppData\Local\Temp\ipykernel_17892\492943894.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_API['posted'] = df_reviews_API['posted'].dt.strftime('%Y')

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014,251610,1,I know what you think when you see this title ...
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59252,wayfeng,2015,730,1,its FUNNNNNNNN
59255,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...
59265,72947282842,2015,730,1,Prettyy Mad Game
59267,ApxLGhost,2015,730,1,AMAZING GAME 10/10
59276,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...

In [54]:
# Limpiamos los datos que no coincidan con un año puntual para limpiar la columna y visualizamos el DF
df_reviews_API = df_reviews_API.query('posted.str.len() == 4')
df_reviews_API

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014,251610,1,I know what you think when you see this title ...
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59252,wayfeng,2015,730,1,its FUNNNNNNNN
59255,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...
59265,72947282842,2015,730,1,Prettyy Mad Game
59267,ApxLGhost,2015,730,1,AMAZING GAME 10/10
59276,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...

In [55]:
# Convertimos los datos de las columnas 'item_id' y 'posted' a númericos y visualizamos el DF
df_reviews_API['item_id'] = pd.to_numeric(df_reviews_API['item_id'])
df_reviews_API['posted'] = pd.to_numeric(df_reviews_API['posted'])
df_reviews_API

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014,251610,1,I know what you think when you see this title ...
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
59252,wayfeng,2015,730,1,its FUNNNNNNNN
59255,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...
59265,72947282842,2015,730,1,Prettyy Mad Game
59267,ApxLGhost,2015,730,1,AMAZING GAME 10/10
59276,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...

In [56]:
# # Borramos valores nulos o duplicados, reseteamos el índice y visualizamos el resultado
df_reviews_API.drop_duplicates(inplace=True)
df_reviews_API.dropna(inplace=True)
df_reviews_API.reset_index(drop=True, inplace=True)
df_reviews_API

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014,251610,1,I know what you think when you see this title ...
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
48493,wayfeng,2015,730,1,its FUNNNNNNNN
48494,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...
48495,72947282842,2015,730,1,Prettyy Mad Game
48496,ApxLGhost,2015,730,1,AMAZING GAME 10/10
48497,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...

In [57]:
# Renombramos algunas columnas para un mejor uso y visualizamos el resultado
df_reviews_API = df_reviews_API.rename(columns={'review': 'reviews'})
df_reviews_API = df_reviews_API.rename(columns={'posted': 'year_posted'})

In [58]:
# Visualizamos el resultado del DF
df_reviews_API

,user_id,year_posted,item_id,recommend,reviews
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014,251610,1,I know what you think when you see this title ...
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...
...,...,...,...,...,...
48493,wayfeng,2015,730,1,its FUNNNNNNNN
48494,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...
48495,72947282842,2015,730,1,Prettyy Mad Game
48496,ApxLGhost,2015,730,1,AMAZING GAME 10/10
48497,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...

Generación del Sentiment Analysis

In [59]:
# Descargamos el archivo necesario para generar el análisis esperado
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\nacho\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [60]:
#Importamos la libreria que necesitamos
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [61]:
# Generamos un nueva instancia la cual nos evaluará los sentimientos de las Reviews
analizer = SentimentIntensityAnalyzer()
''' 
Se genera la columna 'polaridad' la cual mediante el método polarity_scores analizará la columna 'reviews'
devolviendonos esté un valor de tipo Float, el cual representa la fuerza del sentimiento, basado en el texto que visualice 
Polaridad < 0 -> Equivale a un sentimiento negativo
Polaridad = 0 -> Equivale a un sentimiento neutro
Polaridad > 0 -> Equivale a un sentimiento positivo
'''
df_reviews_API['polaridad'] = df_reviews_API['reviews'].apply(lambda r: analizer.polarity_scores(r)['compound'])

In [62]:
# Generamos una nueva columna llamada 'analisis_sentimiento' la cual mediante el comando 'sentiment' nos devolverá un valor equivalente al resultado esperado
def sentiment(peso):
    if peso < 0:
        return 0
    elif peso > 0:
        return 2
    else:
        return 1
    
df_reviews_API.loc[:,'analisis_sentimiento'] = df_reviews_API['polaridad'].apply(sentiment)

In [63]:
# Visualizamos el DF
df_reviews_API

,user_id,year_posted,item_id,recommend,reviews,polaridad,analisis_sentimiento
0,76561197970982479,2011,1250,1,Simple yet with great replayability. In my opi...,0.8481,2
1,76561197970982479,2011,22200,1,It's unique and worth a playthrough.,0.2263,2
2,76561197970982479,2011,43110,1,Great atmosphere. The gunplay can be a bit chu...,0.9117,2
3,js41637,2014,251610,1,I know what you think when you see this title ...,0.9566,2
4,js41637,2013,227300,1,For a simple (it's actually not all that simpl...,0.9708,2
...,...,...,...,...,...,...,...
48493,wayfeng,2015,730,1,its FUNNNNNNNN,0.0000,1
48494,76561198251004808,2015,253980,1,Awesome fantasy game if you don't mind the gra...,0.7650,2
48495,72947282842,2015,730,1,Prettyy Mad Game,-0.4939,0
48496,ApxLGhost,2015,730,1,AMAZING GAME 10/10,0.6739,2
48497,76561198267374962,2015,369200,1,Why I voted yes? 1. Girl characters have boobs...,0.7089,2

In [64]:
# Borramos las columnas que no nos sirvan y visualizamos el resultado
df_reviews_API.drop(columns=['reviews', 'polaridad'], inplace=True)
df_reviews_API

,user_id,year_posted,item_id,recommend,analisis_sentimiento
0,76561197970982479,2011,1250,1,2
1,76561197970982479,2011,22200,1,2
2,76561197970982479,2011,43110,1,2
3,js41637,2014,251610,1,2
4,js41637,2013,227300,1,2
...,...,...,...,...,...
48493,wayfeng,2015,730,1,1
48494,76561198251004808,2015,253980,1,2
48495,72947282842,2015,730,1,0
48496,ApxLGhost,2015,730,1,2
48497,76561198267374962,2015,369200,1,2

In [65]:
#Convertimos los datos de la columna 'user_id' a valores de tipo strings y visualizamos el resultado
df_reviews_API['user_id'] = df_reviews_API['user_id'].str.strip()
df_reviews_API

,user_id,year_posted,item_id,recommend,analisis_sentimiento
0,76561197970982479,2011,1250,1,2
1,76561197970982479,2011,22200,1,2
2,76561197970982479,2011,43110,1,2
3,js41637,2014,251610,1,2
4,js41637,2013,227300,1,2
...,...,...,...,...,...
48493,wayfeng,2015,730,1,1
48494,76561198251004808,2015,253980,1,2
48495,72947282842,2015,730,1,0
48496,ApxLGhost,2015,730,1,2
48497,76561198267374962,2015,369200,1,2

**GENERACIÓN DE UNA ÚNICA TABLA PARA 'user_reviews.json' Y 'user_items.json' CON 'steam_games.json'**

In [66]:
# Creamos un nuevo DF donde haremos un merge entre 'user_items.json' y 'steam_games.json', teniendo en cuenta las columnas 'item_id' y 'game_name', y visualizamos el resultado
df_items_games = pd.merge(df_item_APIs, df_games_review, how='inner', on=['item_id', 'game_name'])
df_items_games

,user_id,item_id,game_name,playtime_forever,game_genre,year_release
0,76561197970982479,10,counter-strike,6,action,2000
1,js41637,10,counter-strike,0,action,2000
2,Riot-Punch,10,counter-strike,0,action,2000
3,doctr,10,counter-strike,93,action,2000
4,corrupted_soul,10,counter-strike,108,action,2000
...,...,...,...,...,...,...
7260005,76561198107283457,354280,chaostower,164,indie,2016
7260006,76561198107283457,354280,chaostower,164,simulation,2016
7260007,inven,433920,aveyond 4: shadow of the mist,0,adventure,2016
7260008,inven,433920,aveyond 4: shadow of the mist,0,indie,2016
7260009,inven,433920,aveyond 4: shadow of the mist,0,rpg,2016

In [67]:
# Extraemos solo las columnas que nos sean útiles para el uso de APIs y visualizamos el resultado
df_items_games_API = df_items_games[['game_genre', 'year_release', 'playtime_forever', 'user_id']]
df_items_games_API

         game_genre  year_release  playtime_forever            user_id
0            action          2000                 6  76561197970982479
1            action          2000                 0            js41637
2            action          2000                 0         Riot-Punch
3            action          2000                93              doctr
4            action          2000               108     corrupted_soul
...             ...           ...               ...                ...
7260005       indie          2016               164  76561198107283457
7260006  simulation          2016               164  76561198107283457
7260007   adventure          2016                 0              inven
7260008       indie          2016                 0              inven
7260009         rpg          2016                 0              inven

[7260010 rows x 4 columns]

In [68]:
# Creamos un nuevo DF donde haremos un merge entre 'user_reviews.json' y 'steam_games.json', teniendo en cuenta la columna 'item_id', y visualizamos el resultado
df_reviews_games_API = pd.merge(df_reviews_API, df_games_review, how='inner', on='item_id')
df_reviews_games_API

,user_id,year_posted,item_id,recommend,analisis_sentimiento,game_genre,game_name,year_release
0,76561197970982479,2011,1250,1,2,action,killing floor,2009
1,death-hunter,2015,1250,1,2,action,killing floor,2009
2,DJKamBer,2013,1250,1,0,action,killing floor,2009
3,diego9031,2015,1250,1,1,action,killing floor,2009
4,76561198081962345,2014,1250,1,1,action,killing floor,2009
...,...,...,...,...,...,...,...,...
99034,Gamer0009,2015,306040,1,2,simulation,the howler,2016
99035,Gamer0009,2015,306040,1,2,strategy,the howler,2016
99036,llDracuwulf,2015,307130,1,2,action,asteria,2014
99037,llDracuwulf,2015,307130,1,2,adventure,asteria,2014
99038,llDracuwulf,2015,307130,1,2,indie,asteria,2014

**EXPORTACIÓN**

In [69]:
# Generación de Carpeta Destino para uso de APIs, y carpeta de uso local para EDA y ML
os.makedirs('../Archivos CSV', exist_ok=True)

In [70]:
# Instalamos pyarrow para evitar conflictos a la hora de la conversión
# pip install pyarrow

In [38]:
# Convertimos el DF - df_items_games_API a un JSON y otro CSV, y lo exportamos
df_games_API.to_parquet('../Ejecutable/games_API.parquet', index=False)
df_games_API.to_parquet('../API/games_API.parquet', index=False)
df_games_API.to_csv('../Archivos CSV/games_API.csv', index=False)

In [72]:
# Convertimos el DF - df_items_games_API a un JSON y otro CSV, y lo exportamos
df_items_games_API.to_parquet('../Ejecutable/items_games_API.parquet', index=False)
df_items_games_API.to_parquet('../API/items_games_API.parquet', index=False)
df_items_games_API.to_csv('../Archivos CSV/items_games_API.csv', index=False)

In [73]:
# Convertimos el DF - df_reviews_games a un JSON y otro CSV, y lo exportamos
df_reviews_games_API.to_parquet('../Ejecutable/reviews_games_API.parquet', index=False)
df_reviews_games_API.to_parquet('../API/reviews_games_API.parquet', index=False)
df_reviews_games_API.to_csv('../Archivos CSV/reviews_games_API.csv', index=False)

In [74]:
# Convertimos el DF - df_games_API a un JSON y otro CSV, y lo exportamos
df_items_games.to_parquet('../Ejecutable/items_games.parquet', index=False)
df_items_games.to_parquet('../API/items_games.parquet', index=False)
df_items_games.to_csv('../Archivos CSV/items_games.csv', index=False)